@layer ww-style-library {
  @layer definition, instance;
  @layer definition {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
  @layer instance {
    @layer normal, custom;
    @layer normal {
    }
    @layer custom {
    }
  }
}
@layer ww-style-section {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-Kx1Omt4gI5aMcV9U {
        height: auto;
        z-index: unset;
        min-height: unset;
        max-height: unset;
        display: flex;
      }
      .ww-a-ToP1y73DpSf7xjcF {
        width: 100%;
        max-width: unset;
        min-width: unset;
        min-height: unset;
        max-height: unset;
      }
    }
    @layer ordered {
      .ww-s-d0 {
        background-color: #fdfbf7;
      }
      .ww-s-d0 > .ww-section-element {
        padding: 0;
      }
      .ww-s-d0 > .ww-section-element.ww-layout {
        display: flex;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-element {
  @layer normal, custom;
  @layer normal {
    @layer atomic, ordered;
    @layer atomic {
      .ww-a-UMuatBOai2i0Sewa {
        margin: 0;
        padding: 0;
        z-index: unset;
        align-self: var(--ww-section-root-auto-align, unset);
        display: block;
        max-width: unset;
        min-width: unset;
        height: auto;
        max-height: unset;
        min-height: unset;
      }
    }
    @layer ordered {
      .ww-e-d5H {
        width: 100%;
      }
    }
  }
  @layer custom {
  }
}
@layer ww-style-layout-override {
}
